//backgrounds

$light-gray: hsl(0, 0%, 90%);
$grayish-red: hsl(0, 5%, 81%);
$very-light-gray: hsl(0, 0%, 93%);

//keys

$dark-moderate-cyan: hsl(185, 42%, 37%);
$very-dark-cyan: hsl(185, 58%, 25%);

$orange: hsl(25, 98%, 40%);
$dark-orange: hsl(25, 99%, 27%);

$light-grayish-yellow: hsl(45, 7%, 89%);
$dark-grayish-orange: hsl(35, 11%, 61%);

//text

$very-dark-grayish-yellow: hsl(60, 10%, 19%);
$white: hsl(0, 0, 100%);
