//Backgrounds

$very-dark-violet-main: hsl(268, 75%, 9%);
$very-dark-violet-toggle: hsl(268, 71%, 12%);

//Keys

$dark-violet: hsl(281, 89%, 26%);
$vivid-magenta: hsl(285, 91%, 52%);

$pure-cyan: hsl(176, 100%, 44%);
$soft-cyan: hsl(177, 92%, 70%);

$very-dark-violet: hsl(268, 47%, 21%);
$dark-magenta: hsl(290, 70%, 36%);

//Text

$light-yellow: hsl(52, 100%, 62%);
$very-dark-blue: hsl(198, 20%, 13%);
$white: hsl(0, 0, 100%);
