@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
@import './theme1';
@import './theme2';
@import './theme3';
@import '../components/Calculator/calculator';
@import '../components/KeysGrid/keys-grid';
@import '../components/KeysGrid/Key/key';
@import '../components/Toggle/toggle';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  height: 100vh;
  overflow: hidden;
  font-size: 23px;
  font-family: 'Spartan', sans-serif;
  background-color: $dark-desaturated-blue-main;
  .wrapper {
    min-width: 250px;
    max-width: 2000px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
