@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
@import './_theme1.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  min-height: 100vh;
  overflow: hidden;
  font-size: 34px;
  font-family: 'Spartan', sans-serif;
  .wrapper {
    min-width: 250px;
    max-width: 2000px;
    margin: auto;
  }
}
